.movie-Card {
	
	height: 250px;
	width: 250px;	
	display: flex;
	
}
.card-local {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
	margin-right: 3rem;
}
.card-content-supp {
	
	width: 444px;	

}
.margin_progress {
	margin-left: 4%;
}


.rating {
	display: inline-block;
	width: 100%;
	margin-top: 40px;
	padding-top: 40px;
	text-align: center;
  }
  
  
  
  